<form {{action 'guardar' on="submit"}}>

<p>
{{input value=model.nombre placeholder="Nombre"}}
</p>
<p>
{{input value=model.precio placeholder="Precio"}}
</p>
<p>
{{input value=model.medida placeholder="Medida"}}
</p>
<input type="submit" value="Guardar Juguete">
</form>